{% extends "layout2.html" %}

{% block container %}
  <h1>Calcular</h1>

  <form action="/resultado" method="POST">
    <div>
      <label for="num1">Número 1:</label>
      <input type="text" name="n1" id="num1">
    </div>

    <div>
      <label for="num2">Número 2:</label>
      <input type="text" name="n2" id="num2">
    </div>

    <div class="container">      
      <label class="form-label">Operación:</label>
      <div class="btn-group">
        <div>
          <input type="radio" name="op" id="suma" value="suma" class="btn-check">
          <label class="btn btn-primary" for="suma">Suma</label>
        </div>

        <div>
          <input type="radio" name="op" id="resta" value="resta" class="btn-check">
          <label class="btn btn-primary" for="resta">Resta</label>
        </div>

        <div>
          <input type="radio" name="op" id="multi" value="multiplicacion" class="btn-check">
          <label class="btn btn-primary" for="multi">Multiplicación</label>
        </div>

        <div>
          <input type="radio" name="op" id="div" value="division" class="btn-check">
          <label class="btn btn-primary" for="div">División</label>
        </div>
      </div>
    </div>

    <button type="submit" class="btn btn-success">CALCULAR</button>
  </form>

  

{% endblock %}